<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-jaucqlskblldw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5f6a991e-c264-44fb-b6f8-fd12c6a834eb/resourceGroups/hands-on-lab-FO0EJPVI9W/providers/Microsoft.Web/sites/TollBoothFunctions-jaucqlskblldw</ResourceId>
    <UserName>$TollBoothFunctions-jaucqlskblldw</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tollboothfunctions-jaucqlskblldw.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>